{% extends 'main_app/base.html' %}

{% load static %}
{% block body_block %}
    <div class="row justify-content-center px-5 py-5">
        <div class="col-2">
            <a class="btn btn-success" href="{% url 'main_app:userPurchase' %}">Make Purchase</a>
        </div>
    </div>
    <div class="row justify-content-center gx-5 gy-5">
        <div class="col-6">
            <table id="purchaseList" class="table table-hover">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
                
                {% for item in purchase %}
                    <tr">
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.date }}</td>
                        <!-- <td><a href="{% url 'main_app:purchaseDetails' item.id %}">Details</a></td> -->
                        <td><button type="button" class='btn btn-info' data-id="{{ item.id }}" >Details</button></td>
                    </tr>
                {% endfor %}

            </table>

            <div class="details">

            </div>
        </div>
    </div>
{% endblock body_block %}


{% block scriptspace %}
    <script src="{% static 'js/customer.js' %}"></script>
{% endblock scriptspace %}
    
    