{% extends 'main_app/base.html' %}

{% block body_block %}
<div class="row justify-content-center py-3">
    <div class="col-3">
        <a class="btn btn-dark" href="{% url 'main_app:index' %}">Back to Profile</a>
    </div>
</div>
<div class="row justify-content-center py-3">
    <div class="col-3">
        <div>
            <img class="img-thumbnail" style="height: 200px; width: 200px;" src="{{ request.user.customer.profile_pic.url }}" alt="Profile Pic">
        </div>
    </div>
</div>
<div class="row justify-content-center py-3">
    <div class="col-4">
        <div class="form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock body_block %}