<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}
<div class="row">
    <div class="col-2 px-2 py-3 px-2">
        <div class="position-sticky shadow">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-item" role="tab" aria-controls="item">Items</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-category" role="tab" aria-controls="category">Category</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-sub-category" role="tab" aria-controls="sub-category">Sub-Category</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-brand" role="tab" aria-controls="brand">Brand</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-supplier" role="tab" aria-controls="supplier">Supplier</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" href="{% url 'main_app:purchase' %}" role="tab" aria-controls="purchase">Make Purchase</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" href="{% url 'main_app:sales' %}" role="tab" aria-controls="sales">Make Sales</a>
            </div>
        </div>
    </div>
    <div class="col-10 px-2 py-3 px-2">
        <div class="row justify-content-center shadow">
            <div class="col">
                <h1>Cards</h1>
            </div>
        </div>
        <div class="row justify-content-center shadow py-5">
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-item" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="tables py-3">
                            <h2>Items table</h2>
                            <div>
                                <a class="btn btn-success" href="{% url 'main_app:itemForms' %}">Create Item</a>
                            </div>
                            {% if item_table %}
                            <table class="table table-hover">
                                <thead>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Brand</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Availability</th>
                                    <th>Action</th>
                                </thead>
                            
                            
                                {% for item in item_table %}
                            
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.brand }}</td>
                                    <td>{{ item.cat }}</td>
                                    <td>{{ item.subCat }}</td>
                                    <td>{{ item.available }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'main_app:updateItem' item.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'main_app:deleteItem' item.id %}">Remove</a>
                                    </td>
                                </tr>
                            
                                {% endfor %}
                            
                            
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-category" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="table py-3">
                            <h2>Category table</h2>
                            <a class="btn btn-success" href="{% url 'main_app:createCategory' %}">Create Category</a>
                            {% if category_table %}
                            <table class="table table-hover">
                                <thead>
                                    <th>SN</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </thead>
                                {% for item in category_table %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'main_app:updateCategory' item.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'main_app:deleteCategory' item.id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-sub-category" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="table py-3">
                            <h2>SubCategor table</h2>
                            <a class="btn btn-success" href="{% url 'main_app:createSubCategory' %}">Create SubCategory</a>
                            {% if subCategory_table %}
                            <table class="table table-hover">
                                <thead>
                                    <th>SN</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Action</th>
                                </thead>
                                {% for item in subCategory_table %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.cat.name }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'main_app:updateSubCategory' item.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'main_app:deleteSubCategory' item.id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-brand" role="tabpanel" aria-labelledby="list-settings-list">
                        <div class="table">
                            <h2>Brand table</h2>
                            <a class="btn btn-success" href="{% url 'main_app:createBrand' %}">Create Brand</a>
                            {% if brand_table %}
                            <table class="table table-hover">
                                <thead>
                                    <th>SN</th>
                                    <th>Brand</th>
                                    <th>Action</th>
                                </thead>
                                {% for item in brand_table %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'main_app:updateBrand' item.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'main_app:deleteBrand' item.id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-supplier" role="tabpanel" aria-labelledby="list-settings-list">
                        <div class="table">
                            <h2>Supplier table</h2>
                            <a class="btn btn-success" href="{% url 'main_app:createSupplier' %}">Create Supplier</a>
                            {% if supplier_table %}
                            <table class="table table-hover">
                                <thead>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </thead>
                                {% for item in supplier_table %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.contact }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.address }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'main_app:updateSupplier' item.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'main_app:deleteSupplier' item.id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}
    