<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}
<div class="row justify-content-center">
    <div class="col-4">
        <p>Are you sure you want to delete "{{ item }}"</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'main_app:dashboard' %}">Cancle</a>
            <input class="btn btn-danger" type="submit" name="Confirm">
        </form>
    </div>
</div>
{% endblock body_block %}