<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}
<div class="row justify-content-center py-5">
    <div class="col-5">
        <a class="btn" href="{% url 'main_app:dashboard' %}">Go back</a>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
</div>
<div class="row justify-content-center py-3">
    <div class="col-4">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>

{% endblock body_block %}