<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}
<div class="row justify-content-center">
    <div class="col-4">
        <h1>Inventory</h1>
        {{ request.user|upper }}
    </div>
</div>
{% endblock body_block %}
<!-- vscode://vscode.github-authentication/did-authenticate?windowId=1&code=1693afaf18f223d14e2b&state=b3a2fd4c-d0d1-465a-b354-4f173d0a4ce1 -->
